h1{
    color:blueviolet;
    text-align: center;
}
#main{
    background-image: url("icetree.jpg");
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    border: 2px solid black;
}
#main h1{
    color:brown
}
.item{
    height: 100px;
    width: 30%;
    background-color: aqua;
    display: inline-block;
    border: 4px  mediumblue solid;
    margin: 10px;
}
.itemcolor{
    background-color:magenta;
}
.item2color{
    background-color:peru;
}
.item3color{
    background-color:seagreen;
}
h2{
    text-align: center;
    color:orange;
}